{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 120,
  "tabWidth": 2,
  "bracketSameLine": true,
  "jsxSingleQuote": false,
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "bracketSpacing": false,
  "jsxBracketSameLine": true,
  "overrides": [
    {
      "files": ["*.tsx", "*.ts", "*.js", "*.jsx"],
      "options": {
        "printWidth": 120,
        "singleQuote": true,
        "bracketSameLine": true,
        "jsxBracketSameLine": true,
        "proseWrap": "preserve",
        "singleAttributePerLine": false,
        "bracketSpacing": false
      }
    }
  ]
}
